.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cell {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    padding-left: 7%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding-bottom: 3rem; 
}

.question {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}

.answer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 3rem;
    width: 12rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 3px solid blue;
    font-size: 2rem;
}

.answer:focus {
    border-radius: 4px;
    outline: none;
    border: 3px blue solid;
}

.submit-btn {
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 12rem;
    height: 3rem;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 6px;
}

.submit-btn:hover {
    cursor: pointer;
}

.red::placeholder {
    color: red;
    font-size: 1.15rem;
}

.red {
    border: 3px red solid;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.result {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    padding-top: 1rem;
    margin: 0px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.summary-para {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media(max-width: 1000px) {
    .summary-para {
        font-size: 1.5rem;
    }
}